<!DOCTYPE html>
<head>
  <meta charset="utf8">
  <title>Cover</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      -webkit-print-color-adjust: exact;
      box-sizing: border-box;
      background: #f5f5f5;
      height: 100%;
      page-break-after: auto;
    }


    .cover-page {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      background: #bbb;
      page-break-after: auto;
    }
    .rj-img-container {
      position: absolute;
      top: 32px;
      left: 24px;
    }
    .cover-content {
      position: absolute;
      top: 30%;
      width: 100%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center;
    }
    .cover-label {
      color: #666;
    }
    .cover-company {
      text-align: center;
      color: #444;
      display: flex;
      flex-wrap: nowrap;
      overflow-wrap: break-word;
      width: 320px;
      margin: auto;
    }
    .cover-footer {
      position: absolute;
      bottom: 32px;
      left: 24px;
      color: #666;
    }


    .header {
      width: calc(100% - 4px);
      background: #bbb;
      border: 2px solid black;
      flex-wrap: nowrap;
      text-align: center;
      display: flex;
      height: 44px;
      display: table;
    }
    .header-label {
      display: table-cell;
      vertical-align: middle;
      font-size: 14px;
      color: #252525;
    }


    .summary-page {
      position: relative;
      height: calc(100%);
      width: 100%;
      page-break-after: auto;
    }
    .summary {
      position: absolute;
      width: calc(100% - 48px);
      padding: 0 24px;
    }
    .summary-text {
      text-align: center;
      font-size: 18px;
      color: #444;
      text-decoration: underline;
      margin: 32px 0;
    }
    .summary-topic {
      font-size: 14px;
      color: #444;
    }
    .summary-subtopic {
      margin-left: 8px;
      font-size: 12px;
      color: #555;
    }

    .attachment-page {
      position: relative;
      height: calc(100%);
      width: 100%;
      page-break-before: always;
    }
    .attachments {
      position: absolute;
      width: calc(100% - 48px);
      padding: 0 24px;
    }


    .document {
      position: relative;
      width: calc(100% - 48px);
      padding: 0 24px;
      padding-bottom: 16px;
    }
    .document-topic {
      font-weight: bold;
      font-size: 14px;
      color: #252525;
      margin-bottom: 8px;
      margin-top: 24px;
    }
    .document-text {
      font-size: 12px;
      letter-spacing: 1;
      color: #444;
      text-indent: 2em;
      margin-top: 24px;
    }
    .document-subtopic {
      font-weight: bold;
      font-size: 11px;
      color: #252525;
      margin-top: 16px;
    }
    .document-subtext {
      font-size: 11px;
      letter-spacing: 1;
      color: #444;
    }


    table {
      table-layout: fixed;
      margin: 0 auto;
      margin-top: 4px;
      table-layout: fixed;
      overflow-x: auto;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 4px;
      text-align: left;
      font-size: 9px;
      color: #252525;
    }
    th {
      background: #ddd;
    }
    td {
      word-break: break-all;
    }
    caption {
      border: 1px solid black;
      border-bottom: 0;
      font-size: 11px;
      font-weight: bold;
      background: #bbb;
      color: #252525;
      padding: 4px 0;
    }
    hr {
      box-shadow: 0;
      height: 0.5px;
      border-width: 0;
      background: black;
      width: calc(100% + 8px);
      margin-left: -4px;
    }

    .table-container {
      text-align: center;
      width: 100%;
      margin-top: 24px;
      page-break-inside: avoid;
    }
    .table-label {
      font-weight: bold;
      font-size: 9px;
      color: #252525;
    }
    .caption {
      border: 1px solid black;
      border-bottom: 0;
      font-size: 11px;
      font-weight: bold;
      background: #bbb;
      color: #252525;
      text-align: center;
      padding: 4px;
    }

    .panoramic-img {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      max-height: 240px;
      max-width: 520px;
    }
  </style>
</head>
<body>
  <div class="cover-page">
    <div class="rj-img-container">
      <img src="http://localhost:3333/files/governo-rj.png" alt="Governo do Rio de Janeiro" height="76" width="284" />
    </div>

    <div class="cover-content">
      <h2 class="cover-label">Cadastro Ambiental</h1>
      <h1 class="cover-company"><%= company.name %></h2>
      <h2 class="cover-label">(n° 01/2020)</h1>

    </div>

    <div class="cover-footer">
      <p style="color: #444"><%= actualDate.formattedDate %></p>
      <p>Elaborado por: Vitor Araujo</p>
      <p>Ano base: <%= actualDate.date.getFullYear() %></p>
    </div>
  </div>


  <div class="summary-page">
    <div class="summary">
      <p class="summary-text">Sumário</p>

      <p class="summary-topic">1. Informações Gerais</p>
      <p class="summary-topic">2. Informações de Funcionamento</p>
      <p class="summary-topic">3. Informações Específicas</p>
      <p class="summary-topic">4. Processo Produtivo</p>
      <p class="summary-topic">5. Aspectos Ambientais</p>
      <p class="summary-subtopic">5.1. Abastecimento Hídrico</p>
      <p class="summary-subtopic">5.2. Emissões Atmosféricas</p>
      <p class="summary-subtopic">5.3. Efluentes Líquidos</p>
      <p class="summary-subtopic">5.4. Resíduos</p>
      <p class="summary-subtopic">5.5. Pressão Sonora</p>
      <p class="summary-subtopic">5.6. Risco Ambiental</p>
      <p class="summary-topic">6. Histórico de Processos</p>
      <p class="summary-topic">7. Anexos</p>
    </div>
  </div>


  <div class="document">
    <p class="document-topic">1. Informações Gerais</p>
    <p class="document-text">
      Esse Cadastro Ambiental foi elaborado em
      <b><%= ("0" + (actualDate.date.getDate())).slice(-2) %>/<%= ("0" + (actualDate.date.getMonth() + 1)).slice(-2) %>/<%= actualDate.date.getFullYear() %></b>
      conforme as informações prestadas pelo representante da empresa
      <b><%= company.name %></b> inscrita no CNPJ <b><%= specific.cnpj %></b>
      do ramo de <b><%= company.typology %></b>. Este documento tem como
      objetivo subsidiar o requerimento de <b><%= documentType.document_type %></b>, de modo a
      regularizar a situação legal da empresa junto ao órgão ambiental.
    </p>
    <p class="document-text">
      O empreendimento está localizado no(a) <b><%= address.street %></b>, <b>n° <%= address.number %></b>,
      <b><%= address.complement %></b> - <b><%= address.cep %></b>, no bairo <b><%= address.neighborhood %></b>,
      na cidade <b><%= address.city %></b>, do município <b><%= address.municipality %></b>
    </p>

    <p>
      <span class="document-subtopic">Observação: </span>
      <span class="document-subtext">
        <% if (operatingInfo.rural) { %>
          A empresa se encontra, ou já esteve inserida em zona rural,
          <% if (operatingInfo.registration) { %>
            e possui cadastro no CAR.
          <% } else { %>
            porém não possui cadastro no CAR.
          <% } %>
        <% } else { %>
          A empresa não se encontra, e nunca esteve inserida, em zona rural.
        <% } %>
      </span>
    </p>

    <div class="table-container">
      <strong class="table-label">Tabela de Dados de identificação dos representantes legais</strong>
      <table>
        <caption>
          Representantes Legais
        </caption>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>CPF</th>
          <th>Telefone</th>
        </tr>
        <% representatives.forEach(function(representative){ %>
          <tr>
            <td><%= representative.name %></td>
            <td><%= representative.email %></td>
            <td><%= representative.cpf %></td>
            <td><%= representative.phone_number %></td>
          </tr>
        <% }); %>
      </table>
    </div>

    <div class="table-container">
      <strong class="table-label">Tabela de Dados de identificação do responsável técnico</strong>
      <table>
        <caption>
          Responsável técnico
        </caption>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Formação</th>
          <th>Conselho/Registro</th>
        </tr>
        <tr>
          <td><%= technicalManager.name %></td>
          <td><%= technicalManager.email %></td>
          <td><%= technicalManager.cpf %></td>
          <td><%= technicalManager.phone_number %></td>
          <td><%= technicalManager.qualification %></td>
          <td><%= technicalManager.licensure_code %></td>
        </tr>
      </table>
    </div>

    <div class="table-container">
      <strong class="table-label">Tabela de Dados de identificação da pessoa de contato</strong>
      <table>
        <caption>
          Pessoa de Contato
        </caption>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>CPF</th>
          <th>Telefone</th>
        </tr>
        <tr>
          <td><%= contactManager.name %></td>
          <td><%= contactManager.email %></td>
          <td><%= contactManager.cpf %></td>
          <td><%= contactManager.phone_number %></td>
        </tr>
      </table>
    </div>

    <div class="table-container">
      <strong class="table-label">Tabela de Informações de contato</strong>
      <table>
        <caption>
          Informações de contato
        </caption>
        <tr>
          <th>Telefone corporativo</th>
          <td><%= contactInfo.phone_number %></td>
        </tr>
        <tr>
          <th>Horário de atendimento</th>
          <td><%= ("0" + (contactInfo.start_at)).slice(-2) %>h às <%= ("0" + (contactInfo.end_at)).slice(-2) %>h</td>
        </tr>
      </table>
    </div>


    <p class="document-topic">2. Informações de Funcionamento</p>
    <p class="document-text">
      A empresa requerente teve início de suas atividades em
      <b><%= ("0" + (operatingInfo.date.getDate() + 1)).slice(-2) %>/<%= ("0" + (operatingInfo.date.getMonth() + 1)).slice(-2) %>/<%= operatingInfo.date.getFullYear() %></b>
      e desenvolve, atualmente, o regime de trabalho descrito na Tabela:
    </p>
    <div class="table-container">
      <strong class="table-label">Tabela de Regime de trabalho</strong>
      <table>
        <caption>
          Turnos
        </caption>
        <tr>
          <th>Dias da semana</th>
          <th>Horário</th>
        </tr>
        <% operatingInfo.shifts.forEach(function(shift) { %>
          <tr>
            <td style="text-align: center;"><%= shift.week %></td>
            <td><%= ("0" + (shift.start_at)).slice(-2) %>h %> às <%= ("0" + (shift.end_at)).slice(-2) %>h %></td>
          </tr>
        <% }); %>
      </table>
    </div>
    <% if (operatingInfo.observation) { %>
      <p>
        <span class="document-subtopic">Observação: </span>
        <span class="document-subtext">
          As atividades secundarias auxiliares e seus respectivos regimes de
          trabalho são descritas da seguinte forma:
          <b><%= operatingInfo.observation %></b>
        </span>
      </p>
    <% } %>


    <p class="document-topic">3. Informações Específicas</p>
    <p class="document-text">
      As atividades contempladas no objeto do presente requirimento são realizadas
      com o auxílio de <b><%= totalEmployees + totalInstallEmployees %></b> funcionários, os quais estão
      distribuidos conforme apresentado abaixo:
    </p>
    <div class="table-container">
      <% if (documentType.document_type === 'LAI' ||
          documentType.document_type === 'LAU' ||
          documentType.document_type === 'LI') { %>
        <strong class="table-label">Tabela de Distribuição dos funcionários na fase de operação</strong>
      <% } else { %>
        <strong class="table-label">Tabela de Distribuição dos funcionários</strong>
      <% } %>

      <table>
        <caption>
          Funcionários
        </caption>
        <tr>
          <th>Tipo</th>
          <th style="text-align: center;">Quantidade</th>
        </tr>
        <% employees.forEach(function(employee) { %>
          <tr>
            <td><%= employee.kind %></td>
            <td style="text-align: center;"><%= employee.amount %></td>
          </tr>
        <% }); %>
      </table>
    </div>

    <% if (documentType.document_type === 'LAI' ||
        documentType.document_type === 'LAU' ||
        documentType.document_type === 'LI') { %>
      <div class="table-container">
        <strong class="table-label">Tabela de Distribuição dos funcionários na fase de instalação</strong>
        <table>
          <caption>
            Funcionários
          </caption>
          <tr>
            <th>Tipo</th>
            <th style="text-align: center;">Quantidade</th>
          </tr>
          <% employees.forEach(function(employee) { %>
            <tr>
              <td><%= employee.kind %></td>
              <td style="text-align: center;"><%= employee.amount %></td>
            </tr>
          <% }); %>
        </table>
      </div>
    <% } %>

    <p class="document-text">
      Cumpre registrar que, o empreendimento dispõe de área total o equivalente a
      <b><%= generalArea.area %>  m²</b>, cuja delimitação poligonal do entorno
      está mostrada na Figura 1, e as relações de valores em m² das respectivas áreas específicas
      constam na Tabela:
    </p>

    <div class="table-container">
      <table>
        <caption>
          Área do empreendimento
        </caption>
        <tr>
          <td style="padding: 0px; padding-top: -1px;">
            <img src='<%- generalArea.image.url %>' class="panoramic-img" alt="" />
          </td>
        </tr>
      </table>
      <strong class="table-label">Figura 1. Visão Panorâmica da área total do empreendimento</strong>
    </div>

    <div class="table-container">
      <strong class="table-label">Tabela de Relação das áreas específicas do empreendimento</strong>
      <table>
        <caption>
          Áreas específicas
        </caption>
        <tr>
          <th>Tipo</th>
          <th>Área (m²)</th>
        </tr>
        <% specificAreas.forEach(function(specificArea) { %>
          <tr>
            <td><%= specificArea.kind %></td>
            <td style="text-align: center;"><%= specificArea.area %></td>
          </tr>
        <% }); %>
        <tr>
          <th>Total</th>
          <th style="text-align: center;"><%= totalArea %></th>
        </tr>
      </table>
    </div>


    <p class="document-topic">4. Processo Produtivo</p>
    <p class="document-text">
      As relações dos principais Insumos, e dos Equipamentos de Processo, Auxiliares
      e de Controle de Emissão, com as respectivas especificidades, estão
      descritos nas Tabelas abaixo respectivamente.
    </p>
    <div class="table-container">
      <strong class="table-label">Tabela dos Principais Insumos usados na Produção</strong>
      <table>
        <tr>
          <th class="caption" colspan="3">Relação de Insumos</th>
          <th class="caption" colspan="2">Recebimento</th>
          <th class="caption" colspan="3">Armazenamento</th>
        </tr>
        <tr>
          <th>Identificação</th>
          <th style="text-align: center;">Forma<br>física</th>
          <th>Quant.<br>média/ano</th>
          <th>Transporte</th>
          <th>Acond.</th>
          <th>Local</th>
          <th>Forma</th>
          <th style="text-align: center;">Capaci<br>dade</th>
        </tr>
        <% supplies.forEach(function(supply) { %>
          <% supply.storages.forEach(function(storage) { %>
            <tr>
              <td><%= supply.identification %></td>
              <td style="text-align: center;"><%= supply.physical_state %></td>
              <td style="text-align: center;"><%= supply.quantity %> <%= supply.unit %></td>
              <td><%= supply.transport %></td>
              <td><%= supply.packaging %></td>
              <td><%= storage.location %></td>
              <td><%= storage.amount %> <%= storage.identification %></td>
              <td style="text-align: center;"><%= storage.capacity %> <%= storage.unit %></td>
            </tr>
          <% }); %>
        <% }); %>
      </table>
    </div>

    <% if (productiveEquipments.length > 0) { %>
      <div class="table-container">
        <strong class="table-label">Tabela dos Principais Equipamentos de Processo</strong>
        <table>
          <tr>
            <th class="caption" colspan="4">Relação de Equipamentos</th>
            <th class="caption" colspan="2">Combustível</th>
          </tr>
          <tr>
            <th>Identificação</th>
            <th style="text-align: center;">Quanti<br>dade</th>
            <th>Data de<br>instalação</th>
            <th style="text-align: center;">Capaci<br>dade</th>
            <th>Combustível</th>
            <th style="text-align: center;">Consumo<br>anual</th>
          </tr>
          <% productiveEquipments.forEach(function(equipment) { %>
              <tr>
                <td><%= equipment.identification %></td>
                <td style="text-align: center;"><%= equipment.amount %></td>
                <td style="text-align: center;">
                  <%= ("0" + (equipment.date.getDate() + 1)).slice(-2) %>/<%= ("0" + (equipment.date.getMonth() + 1)).slice(-2) %>/<%= equipment.date.getFullYear() %>
                </td>
                <% if (equipment.capacity) { %>
                  <td style="text-align: center;"><%= equipment.capacity %> <%= equipment.capacity_unit %></td>
                <% } else { %>
                  <td style="text-align: center;"> - </td>
                <% } %>
                <td><%= equipment.fuel %></td>
                <td style="text-align: center;"><%= equipment.consumption %> <%= equipment.consumption_unit %></td>
              </tr>
          <% }); %>
        </table>
      </div>
    <% } else { %>
      <p>
        <span class="document-subtopic">Observação: </span>
        <span class="document-subtext">
          A empresa não apresenta nenhum Equipamento de Processo em sua produção.
        </span>
      </p>
    <% } %>

    <% if (auxiliaryEquipments.length > 0) { %>
      <div class="table-container">
        <strong class="table-label">Tabela dos Principais Equipamentos Auxiliares na Produção</strong>
        <table>
          <tr>
            <th class="caption" colspan="4">Relação de Equipamentos</th>
            <th class="caption" colspan="2">Combustível</th>
          </tr>
          <tr>
            <th>Identificação</th>
            <th style="text-align: center;">Quanti<br>dade</th>
            <th>Data de<br>instalação</th>
            <th style="text-align: center;">Capaci<br>dade</th>
            <th>Combustível</th>
            <th style="text-align: center;">Consumo<br>anual</th>
          </tr>
          <% auxiliaryEquipments.forEach(function(equipment) { %>
              <tr>
                <td><%= equipment.identification %></td>
                <td style="text-align: center;"><%= equipment.amount %></td>
                <td style="text-align: center;">
                  <%= ("0" + (equipment.date.getDate() + 1)).slice(-2) %>/<%= ("0" + (equipment.date.getMonth() + 1)).slice(-2) %>/<%= equipment.date.getFullYear() %>
                </td>
                <% if (equipment.capacity) { %>
                  <td style="text-align: center;"><%= equipment.capacity %> <%= equipment.capacity_unit %></td>
                <% } else { %>
                  <td style="text-align: center;"> - </td>
                <% } %>
                <td><%= equipment.fuel %></td>
                <td style="text-align: center;"><%= equipment.consumption %> <%= equipment.consumption_unit %></td>
              </tr>
          <% }); %>
        </table>
      </div>
    <% } else { %>
      <p>
        <span class="document-subtopic">Observação: </span>
        <span class="document-subtext">
          A empresa não apresenta nenhum Equipamento Auxiliar em sua produção.
        </span>
      </p>
    <% } %>

    <% if (controlEquipments.length > 0) { %>
      <div class="table-container">
        <strong class="table-label">Tabela dos Principais Equipamentos de Controle de Emissão</strong>
        <table>
          <tr>
            <th class="caption" colspan="4">Relação de Equipamentos</th>
            <th class="caption" colspan="2">Combustível</th>
          </tr>
          <tr>
            <th>Identificação</th>
            <th style="text-align: center;">Quanti<br>dade</th>
            <th>Data de<br>instalação</th>
            <th style="text-align: center;">Capaci<br>dade</th>
            <th>Combustível</th>
            <th style="text-align: center;">Consumo<br>anual</th>
          </tr>
          <% controlEquipments.forEach(function(equipment) { %>
              <tr>
                <td><%= equipment.identification %></td>
                <td style="text-align: center;"><%= equipment.amount %></td>
                <td style="text-align: center;">
                  <%= ("0" + (equipment.date.getDate() + 1)).slice(-2) %>/<%= ("0" + (equipment.date.getMonth() + 1)).slice(-2) %>/<%= equipment.date.getFullYear() %>
                </td>
                <% if (equipment.capacity) { %>
                  <td style="text-align: center;"><%= equipment.capacity %> <%= equipment.capacity_unit %></td>
                <% } else { %>
                  <td style="text-align: center;"> - </td>
                <% } %>
                <td><%= equipment.fuel %></td>
                <td style="text-align: center;"><%= equipment.consumption %> <%= equipment.consumption_unit %></td>
              </tr>
          <% }); %>
        </table>
      </div>
    <% } else { %>
      <p>
        <span class="document-subtopic">Observação: </span>
        <span class="document-subtext">
          A empresa não apresenta nenhum Equipamento de Controle em sua produção.
        </span>
      </p>
    <% } %>

    <p class="document-text">
      A relação dos principais Produtos fabricados, com as respectivas especificidades, está
      descrita na tabela a seguir:
    </p>
    <div class="table-container">
      <strong class="table-label">Tabela de Principais Produtos fabricados</strong>
      <table>
        <tr>
          <th class="caption" colspan="4">Relação de Produtos</th>
          <th class="caption" colspan="3">Armazenamento</th>
          <th class="caption" colspan="2">Expedição</th>
        </tr>
        <tr>
          <th>Identificação</th>
          <th style="text-align: center;">Forma<br>física</th>
          <th>Quant.<br>média/ano</th>
          <th>Capaci<br>dade<br>produtiva</th>
          <th>Local</th>
          <th>Forma</th>
          <th style="text-align: center;">Capaci<br>dade</th>
          <th>Transporte</th>
          <th>Acond.</th>
        </tr>
        <% products.forEach(function(product) { %>
          <% product.storages.forEach(function(storage) { %>
            <tr>
              <td><%= product.identification %></td>
              <td style="text-align: center;"><%= product.physical_state %></td>
              <td style="text-align: center;"><%= product.quantity %> <%= product.unit %></td>
              <td style="text-align: center;"><%= product.capacity %> <%= product.unit %></td>
              <td><%= storage.location %></td>
              <td><%= storage.amount %> <%= storage.identification %></td>
              <td style="text-align: center;"><%= storage.capacity %> <%= storage.unit %></td>
              <td><%= product.transport %></td>
              <td><%= product.packaging %></td></tr>
          <% }); %>
        <% }); %>
      </table>
    </div>


    <p class="document-topic">5. Aspectos Ambientais</p>

    <p class="document-subtopic">5.1. Abastecimento Hídrico</p>
    <p class="document-text">
      O fornecimento de água da empresa <b><%= company.name %></b> é realizado conforme
      o Consumo Hídrico apresentado abaixo, o qual descreve todas as fontes, os
      respectivos tipos de uso da água, assim como, as vazões de consumo
      correspondentes a cada um, totalizando uma vazão de
      <b><%= totalFlow %> m³</b> de água por dia.
    </p>
    <div class="table-container">
      <strong class="table-label">Tabela de Consumo Hídrico na instalação e na operação</strong>
      <table>
        <tr>
          <th class="caption" colspan="1">Fonte de água</th>
          <th class="caption" colspan="3">Uso</th>
        </tr>
        <tr>
          <th style="text-align: center;">Fonte</th>
          <th>Tipo de Uso</th>
          <th style="text-align: center;">Vazão<br>(m³/dia)</th>
          <th style="text-align: center;">Vazão Total<br>(m³/dia)</th>
        </tr>
        <% waterSupplies.forEach(function(waterSupply) { %>
          <tr>
            <td style="text-align: center;">
              <%= waterSupply.source %>
              <% if (waterSupply.license) { %>
                <br> n° <%= waterSupply.license %>
              <% } %>
            </td>
            <td style="text-align: center;">
              <% waterSupply.uses.forEach(function(use, index) { %>
                <%= use.usage %>
                <% if (index < waterSupply.uses.length - 1 ) { %>
                  <br><hr>
                <% } %>
              <% }); %>
            </td>
            <td style="text-align: center;">
              <% waterSupply.uses.forEach(function(use, index) { %>
                <%= use.flow %>
                <% if (index < waterSupply.uses.length - 1 ) { %>
                  <br><hr>
                <% } %>
              <% }); %>
            </td>
            <td style="text-align: center;">
              <%= waterSupply.totalFlow %>
            </td>
          </tr>
        <% }); %>
      </table>
    </div>


    <p class="document-subtopic">5.2. Emissões Atmosféricas</p>
    <p class="document-text">
      As fontes de emissões atmosféricas do referido empreendimento, os poluentes
      gerados por meio destas, e as respectivas concentrações estão descritos
      na Tabela a seguir:
    </p>
    <div class="table-container">
      <strong class="table-label">Tabela de Emissões Atmosféricas</strong>
      <table>
        <tr>
          <th>Fonte</th>
          <th>Poluente gerado</th>
          <th style="text-align: center;">Concentração</th>
          <th>Sistema de controle</th>
        </tr>
        <% emissions.forEach(function(emission) { %>
          <tr>
            <td>
              <%= emission.source %>
            </td>
            <td>
              <%= emission.pollutant %>
            </td>
            <td style="text-align: center;">
              <%= emission.concentration %> <%= emission.unit %>
            </td>
            <td>
              <%= emission.control_system %>
            </td>
          </tr>
        <% }); %>
      </table>
    </div>
    <p>
      <span class="document-subtopic">Observação: </span>
      <span class="document-subtext">
        A empresa <% if (!emissionInfo.promonAir) { %><b>não</b><% } %>
        se encontra cadastrada no PROMON AR, e <% if (!emissionInfo.procon) { %><b>não</b><% } %>
        se encontra cadastrada no PROCON Fumaça Preta, conforme preconizado,
        respectivamente, nas NOP01 e NOP14.
      </span>
    </p>


    <p class="document-subtopic">5.3. Efluentes Líquidos</p>
    <p class="document-text">
      As relações dos Efluentes Sanitário, Industrial, e Oleoso, gerados nas operações da
      requerente, assim como as respectivas especificidades estão descritos nas Tabelas seguir:
    </p>
    <div class="table-container">
      <strong class="table-label">Tabela de Efluente Sanitário</strong>
      <table>
        <tr>
          <th class="caption" colspan="2">
            Efluente
          </th>
          <th class="caption" colspan="2">
            Tratamento
          </th>
          <th class="caption" colspan="2">
            Escoamento
          </th>
        </tr>
        <tr>
          <th>Fonte</th>
          <th style="text-align: center;">Vazão<br>(m³/dia)</th>
          <th>Forma de<br>tratamento</th>
          <th style="text-align: center;">Quantidade</th>
          <th>Drenagem</th>
        </tr>
        <% sanitaryEffluents.forEach(function(effluent) { %>
          <tr>
            <td>
              <%= effluent.source %>
            </td>
            <td style="text-align: center;">
              <%= effluent.flow %>
            </td>
            <td>
              <%= effluent.treatment %>
            </td>
            <td style="text-align: center;">
              <% if (effluent.quantity) { %>
                <%= effluent.quantity %>
              <% } else { %>
                -
              <% } %>
            </td>
            <td>
              <% if (!effluent.water_body) { %>
                <% if (!effluent.license) { %>
                  Rede coletora
                <% } %>
              <% }  else { %>
                <%= effluent.water_body %>
                <% if (effluent.license) { %>
                  <br>n° <%= effluent.license %>
                <% } %>
              <% } %>
            </td>
          </tr>
        <% }); %>
        <tr>
          <th>Total</th>
          <td style="text-align: center;"><%= sanitaryTotalFlow %></td>
        </tr>
        <tr>
          <th>Teórico</th>
          <td style="text-align: center;">
            <%= (sanitary.theoric_flow*0.8).toFixed(2) %> - <%= (sanitary.theoric_flow*1.2).toFixed(2) %>
          </td>
        </tr>
      </table>
    </div>
    <p>
      <span class="document-subtopic">Observação: </span>
      <span class="document-subtext">
        A empresa <% if (!sanitary.kitchen) { %><b>não</b><% } %>
        é dotada de cozinha industrial. Além disso,
        <% if (!sanitary.kitchen) { %><b>não</b><% } %> possui DPE.
      </span>
    </p>

    <div class="table-container">
      <strong class="table-label">Tabela de Efluente Industrial</strong>
      <table>
        <tr>
          <th class="caption" colspan="2">
            Efluente
          </th>
          <th class="caption" colspan="2">
            Tratamento
          </th>
          <th class="caption" colspan="2">
            Escoamento
          </th>
        </tr>
        <tr>
          <th>Fonte</th>
          <th style="text-align: center;">Vazão<br>(m³/dia)</th>
          <th>Forma de<br>tratamento</th>
          <th style="text-align: center;">Quantidade</th>
          <th>Drenagem</th>
        </tr>
        <% industrialEffluents.forEach(function(effluent) { %>
          <tr>
            <td>
              <%= effluent.source %>
            </td>
            <td style="text-align: center;">
              <%= effluent.flow %>
            </td>
            <td>
              <%= effluent.treatment %>
            </td>
            <td style="text-align: center;">
              <% if (effluent.quantity) { %>
                <%= effluent.quantity %>
              <% } else { %>
                -
              <% } %>
            </td>
            <td>
              <%= effluent.water_body %>
            </td>
          </tr>
        <% }); %>
        <tr>
          <th>Total</th>
          <td style="text-align: center;"><%= industrialTotalFlow %></td>
        </tr>
      </table>
    </div>

    <div class="table-container">
      <strong class="table-label">Tabela de Efluente Oleoso</strong>
      <table>
        <tr>
          <th class="caption" colspan="2">
            Efluente
          </th>
          <th class="caption" colspan="2">
            Tratamento
          </th>
          <th class="caption" colspan="2">
            Escoamento
          </th>
        </tr>
        <tr>
          <th>Fonte</th>
          <th style="text-align: center;">Vazão<br>(m³/dia)</th>
          <th>Forma de<br>tratamento</th>
          <th style="text-align: center;">Quantidade</th>
          <th>Drenagem</th>
        </tr>
        <% industrialEffluents.forEach(function(effluent) { %>
          <tr>
            <td>
              <%= effluent.source %>
            </td>
            <td style="text-align: center;">
              <%= effluent.flow %>
            </td>
            <td>
              <%= effluent.treatment %>
            </td>
            <td style="text-align: center;">
              <% if (effluent.quantity) { %>
                <%= effluent.quantity %>
              <% } else { %>
                -
              <% } %>
            </td>
            <td>
              <%= effluent.water_body %>
            </td>
          </tr>
        <% }); %>
        <tr>
          <th>Total</th>
          <td style="text-align: center;"><%= oilyTotalFlow %></td>
        </tr>
      </table>
    </div>


    <p class="document-subtopic">5.4. Resíduos</p>
    <p class="document-text">
      Os principais resíduos gerados pelas atividades da requerente, assim como,
      as respectivas classificações, armazenamentos e destinações finais,
      estão apresentados na Tabela a seguir:
    </p>
    <% if (residuesClass1.length > 0) { %>
      <div class="table-container">
        <strong class="table-label">Tabela de Gerenciamento de Resíduos Classe I</strong>
        <table>
          <caption>
            Classe I
          </caption>
          <tr>
            <th class="caption" colspan="4">Relação de resíduos</th>
            <th class="caption" colspan="3">Disposição interna</th>
            <th class="caption">Destinação</th>
          </tr>
          <tr>
            <th>Identificação +<br>Constituinte</th>
            <th style="text-align: center;">Forma<br>física</th>
            <th>Fonte</th>
            <th>Quant.<br>média/ano</th>
            <th>Local</th>
            <th>Forma</th>
            <th style="text-align: center;">Capaci<br>dade</th>
            <th>Sistema de<br>Tratamento</th>
          </tr>
          <% residuesClass1.forEach(function(residue) { %>
            <tr>
              <td><%= residue.identification %>/<br><%= residue.constituent %></td>
              <td style="text-align: center;"><%= residue.physical_state %></td>
              <td><%= residue.source %></td>
              <td style="text-align: center;">
                <%= residue.quantity %> <%= residue.quantity_unit %>
              </td>
              <td><%= residue.storage_location %></td>
              <td><%= residue.storage_form %></td>
              <td style="text-align: center;">
                <%= residue.capacity %> <%= residue.capacity_unit %>
              </td>
              <td><%= residue.treatment %></td>
            </tr>
          <% }); %>
        </table>
      </div>
    <% } else { %>
      <p>
        <span class="document-subtopic">Observação: </span>
        <span class="document-subtext">
          A empresa não apresenta nenhum resíduo de classe I.
        </span>
      </p>
    <% } %>

    <% if (residuesClass2.length > 0) { %>
      <div class="table-container">
        <strong class="table-label">Tabela de Gerenciamento de Resíduos Classe II</strong>
        <table>
          <caption>
            Classe II
          </caption>
          <tr>
            <th class="caption" colspan="4">Relação de resíduos</th>
            <th class="caption" colspan="3">Disposição interna</th>
            <th class="caption">Destinação</th>
          </tr>
          <tr>
            <th>Identificação +<br>Constituinte</th>
            <th style="text-align: center;">Forma<br>física</th>
            <th>Fonte</th>
            <th>Quant.<br>média/ano</th>
            <th>Local</th>
            <th>Forma</th>
            <th style="text-align: center;">Capaci<br>dade</th>
            <th>Sistema de<br>Tratamento</th>
          </tr>
          <% residuesClass2.forEach(function(residue) { %>
            <tr>
              <td><%= residue.identification %>/<br><%= residue.constituent %></td>
              <td style="text-align: center;"><%= residue.physical_state %></td>
              <td><%= residue.source %></td>
              <td style="text-align: center;">
                <%= residue.quantity %> <%= residue.quantity_unit %>
              </td>
              <td><%= residue.storage_location %></td>
              <td><%= residue.storage_form %></td>
              <td style="text-align: center;">
                <%= residue.capacity %> <%= residue.capacity_unit %>
              </td>
              <td><%= residue.treatment %></td>
            </tr>
          <% }); %>
        </table>
      </div>
    <% } else { %>
      <p>
        <span class="document-subtopic">Observação: </span>
        <span class="document-subtext">
          A empresa não apresenta nenhum resíduo de classe II.
        </span>
      </p>
    <% } %>

    <p>
      <span class="document-subtopic">Observação: </span>
      <span class="document-subtext">
        A empresa <% if (!residueInfo.manifest) { %><b>não</b><% } %>
        se encontra cadastrada no sistema on-line de manifesto de resíduos.
        Além disso, <% if (!residueInfo.inventory) { %><b>não</b><% } %>
        está reportando os Inventários de Resíduos. Ambas as condutas são
        preconizadas, respectivamente, nas NOP35 e CONAMA n° 313/2002.
      </span>
    </p>


    <p class="document-subtopic">5.5. Pressão Sonora</p>
    <p class="document-text">
      As fontes de ruído provenientes das atividades realizadas na área da
      requerente estão relacionadas abaixo:
    </p>
    <div class="table-container">
      <strong class="table-label">Tabela de Relação das fontes de geração de ruído</strong>
      <table>
        <caption>
          Ruídos
        </caption>
        <tr>
          <th>Fonte</th>
          <th>Proteção acúsitca</th>
        </tr>
        <% noises.forEach(function(noise) { %>
          <tr>
            <td><%= noise.source %></td>
            <td><%= noise.protection %></td>
          </tr>
        <% }); %>
      </table>
    </div>
    <p>
      <span class="document-subtopic">Observação: </span>
      <span class="document-subtext">
        <% if (!noiseInfo.report_date) { %>
          A empresa <b>não</b> está reportando Relatórios Técnicos de Avaliação de Ruídos.
        <% } else { %>
          A empresa está reportando Relatórios Técnicos de Avaliação de Ruídos,
          sendo o mais atualizado elaborado em
          <b>
            <%= ("0" + (noiseInfo.report_date.getDate() + 1)).slice(-2) %>/<%= ("0" + (noiseInfo.report_date.getMonth() + 1)).slice(-2) %>/<%= noiseInfo.report_date.getFullYear() %>
          </b>.
        <% } %>
      </span>
    </p>


    <p class="document-subtopic">5.6. Risco Ambiental</p>
    <p class="document-text">
      Os produtos químicos e/ou inflamáveis que são utilizados nas atividades
      desenvolvidas pela <%= company.name %>, assim como, o detalhamento a respeito do
      armazenamento destes, estão mostrados na tabela abaixo:
    </p>
    <div class="table-container">
      <strong class="table-label">
        Tabela de Relação de Produtos químicos e/ou inflamáveis armazenados
      </strong>
      <table>
        <tr>
          <th class="caption" colspan="2">Produto</th>
          <th class="caption" colspan="4">Armazenamento</th>
        </tr>
        <tr>
          <th>Substância</th>
          <th style="text-align: center;">Forma<br>Física</th>
          <th>Tipo de<br>reservatório</th>
          <th style="text-align: center;">Quanti<br>dade</th>
          <th>Capacidade<br>Unitária</th>
          <th>Capacidade<br>Máxima</th>
        </tr>
        <% risks.forEach(function(risk) { %>
          <% risk.storages.forEach(function(storage) { %>
            <tr>
              <td><%= risk.substance %></td>
              <td style="text-align: center;"><%= risk.physical_state %></td>
              <td><%= storage.identification %></td>
              <td style="text-align: center;"><%= storage.amount %></td>
              <td style="text-align: center;">
                <%= storage.capacity %> <%= storage.unit %>
              </td>
              <td style="text-align: center;">
                <%= storage.amount * storage.capacity %> <%= storage.unit %>
              </td>
            </tr>
          <% }); %>
        <% }); %>
      </table>
    </div>

    <p class="document-topic">6. Histórico de Processos</p>
    <p class="document-text">
      O resumo dos instrumentos obtidos pela requerente junto ao INEA, assim como, os
      respectivos processos de licenciamento ambiental e informações complementares se
      encontram descritos abaixo:
    </p>
    <% if (history.length > 0) { %>
      <div class="table-container">
        <strong class="table-label">Tabela de Histórico de processos</strong>
        <table>
          <caption>Processos</caption>
          <tr>
            <th>Instrumento obtido</th>
            <th>Objeto</th>
            <th style="text-align: center;">Número</th>
            <th style="text-align: center;">Processo</th>
            <th style="text-align: center;">Data de validade</th>
          </tr>
          <% history.forEach(function(process) { %>
            <tr>
              <td><%= process.instrument %></td>
              <td><%= process.objective %></td>
              <td style="text-align: center;"><%= process.number %></td>
              <td style="text-align: center;"><%= process.process %></td>
              <td style="text-align: center;">
                <%= ("0" + (process.expiration_date.getDate() + 1)).slice(-2) %>/<%= ("0" + (process.expiration_date.getMonth() + 1)).slice(-2) %>/<%= process.expiration_date.getFullYear() %>
              </td>
            </tr>
          <% }); %>
        </table>
      </div>
    <% } else { %>
      <p>
        <span class="document-subtopic">Observação: </span>
        <span class="document-subtext">
          A empresa não obtem nenhum instrumento ou processo de licenciamento
          junto ao INEA.
        </span>
      </p>
    <% } %>

    <p class="document-text">
      Os processos da <b><%= company.name %> </b> que estão em andamento no órgão,
      e suas respecitivas informações complementares se encontram descritos
      na Tabela abaixo:
    </p>
    <% if (pendencies.length > 0) { %>
      <div class="table-container">
        <strong class="table-label">Processos em andamento junto ao INEA</strong>
        <table>
          <caption>Processos</caption>
          <tr>
            <th>Instrumento<br>requerido</th>
            <th>Objeto</th>
            <th style="text-align: center;">Processo</th>
          </tr>
          <% pendencies.forEach(function(pending) { %>
            <tr>
              <td><%= pending.instrument %></td>
              <td><%= pending.objective %></td>
              <td style="text-align: center;"><%= pending.process %></td>
            </tr>
          <% }); %>
        </table>
      </div>
    <% } else { %>
      <p>
        <span class="document-subtopic">Observação: </span>
        <span class="document-subtext">
          A empresa não possui nenhum instrumento ou processo de licenciamento
          em andamento junto ao órgão.
        </span>
      </p>
    <% } %>
  </div>

  <div class="attachment-page">
    <div class="attachments">
      <p class="document-topic">7. Anexos</p>

      <p>
        <span class="document-subtopic">a)</span>
        <span class="document-subtext">
          Memorial descritivo dos processos industriais com as etapas, incluindo diagramas de
          bloco ou fluxogramas das linhas de produção. Esses deverão
          ser separados por linha de produção;
        </span>
      </p>

      <p>
        <span class="document-subtopic">b)</span>
        <span class="document-subtext">
          Apresentar imagem de satélite com a área da empresa demarcada por uma
          poligonal, informando as coordenadas geográficas dos vértices do
          polígono e o datum utilizado;
        </span>
      </p>

      <p>
        <span class="document-subtopic">c)</span>
        <span class="document-subtext">
          Planta lay-out, se possível, relacionando todas as áreas com os
          valores em m² e os respectivos equipamentos de processo, auxiliares
          e de controle de emissão;
        </span>
      </p>

      <p>
        <span class="document-subtopic">d)</span>
        <span class="document-subtext">
          Planta de drenagem, diferenciando os efluentes industriais, oleosos,
          sanitários e pluviais e contemplando os sistemas de tratamento existentes,
          com diferença de cor e traçado;
        </span>
      </p>

      <p>
        <span class="document-subtopic">e)</span>
        <span class="document-subtext">
          Comprovante de cadastro, quando aplicável, no CAR (Lei 12651/12),
          PROMON-Ar (NOP01), PROCON-Fumaça Preta (NOP14), MTR (NOP35),
          Inventário de Resíduos (CONAMA313/02) e PROCON-Água (DZ942);
        </span>
      </p>

      <p>
        <span class="document-subtopic">f)</span>
        <span class="document-subtext">
          Apresentar balanço hídrico, com as respectivas vazões (incluir registros
          de medidores de vazão), englobando todas as fontes de abastecimento
          de água, os respectivos pontos de consumo, perda, reuso e lançamento;
        </span>
      </p>

      <p>
        <span class="document-subtopic">g)</span>
        <span class="document-subtext">
          Declaração de Possibilidade de Esgotamento, no caso de lançamento em
          Rede Coletora;
        </span>
      </p>

      <p>
        <span class="document-subtopic">h)</span>
        <span class="document-subtext">
          Relatório de Avaliação Técnica de Pressão Sonora (NBR10.151), Relatório
          de Auditoria Ambiental (DZ056), Relatório de Investigação Preliminar,
          Confirmatória e/ou Detalhada, quando aplicável;
        </span>
      </p>

      <p>
        <span class="document-subtopic">i)</span>
        <span class="document-subtext">
          Plano de Gerenciamento de Resíduos Sólidos (PGRS), Plano de
          Atendimento a Emergências (PAE), Plano de Emergência Individual (PEI)
          e/ou Programa de Gerenciamento de Riscos (PGR), quando aplicável;
        </span>
      </p>

      <p>
        <span class="document-subtopic">j)</span>
        <span class="document-subtext">
          Cópia dos Instrumentos Ambientais declarados no item 6 –Histórico de
          Processos, do presente Cadastro Ambiental;
        </span>
      </p>

      <p>
        <span class="document-subtopic">Observação: </span>
        <span class="document-subtext">
          Este Cadastro foi desenvolvido para ser preenchido diretamente pelo
          responsável da indústria, sem ser necessária contratação de suporte especializado.
      </p>
    </div>

  </div>

</body>
</html>
