<!DOCTYPE html>
<head>
  <meta charset="utf8">
  <title>Cover</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      -webkit-print-color-adjust: exact;
      box-sizing: border-box;
      background: #f5f5f5;
      height: 100%;
      page-break-after: auto;
    }


    .cover-page {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      background: #bbb;
      page-break-after: auto;
    }
    .rj-img-container {
      position: absolute;
      top: 32px;
      left: 24px;
    }
    .cover-content {
      position: absolute;
      top: 30%;
      width: 100%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center;
    }
    .cover-label {
      color: #666;
    }
    .cover-company {
      text-align: center;
      color: #444;
      display: flex;
      flex-wrap: nowrap;
      overflow-wrap: break-word;
      width: 320px;
      margin: auto;
    }
    .cover-footer {
      position: absolute;
      bottom: 32px;
      left: 24px;
      color: #666;
    }


    .header {
      width: calc(100% - 4px);
      background: #bbb;
      border: 2px solid black;
      flex-wrap: nowrap;
      text-align: center;
      display: flex;
      height: 44px;
      display: table;
    }
    .header-label {
      display: table-cell;
      vertical-align: middle;
      font-size: 14px;
      color: #252525;
    }


    .summary-page {
      position: relative;
      height: calc(100%);
      width: 100%;
      page-break-after: auto;
    }
    .summary {
      position: absolute;
      width: calc(100% - 48px);
      padding: 0 24px;
    }
    .summary-text {
      text-align: center;
      font-size: 18px;
      color: #444;
      text-decoration: underline;
      margin: 32px 0;
    }
    .summary-topic {
      font-size: 14px;
      color: #444;
    }
    .summary-subtopic {
      margin-left: 8px;
      font-size: 12px;
      color: #555;
    }


    .document {
      position: relative;
      width: calc(100% - 48px);
      padding: 0 24px;
      padding-bottom: 16px;
    }
    .document-topic {
      font-weight: bold;
      font-size: 14px;
      color: #252525;
      margin-bottom: 8px;
      margin-top: 24px;
    }
    .document-text {
      font-size: 12px;
      letter-spacing: 1;
      color: #444;
      text-indent: 2em;
      margin-top: 24px;
    }
    .document-subtopic {
      font-weight: bold;
      font-size: 11px;
      color: #252525;
      margin-top: 16px;
    }
    .document-subtext {
      font-size: 11px;
      letter-spacing: 1;
      color: #444;
    }


    table {
      table-layout: fixed;
      margin: 0 auto;
      margin-top: 4px;
      table-layout: fixed;
      overflow-x: auto;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 8px;
      text-align: left;
      font-size: 10px;
      color: #252525;
      word-break: break-all;
    }
    th {
      padding: 8px;
      background: #ddd;
    }
    caption {
      border: 1px solid black;
      border-bottom: 0;
      font-size: 12px;
      font-weight: bold;
      background: #bbb;
      color: #252525;
      padding: 4px 0;
    }

    .table-container {
      text-align: center;
      width: 100%;
      margin-top: 24px;
      page-break-inside: avoid;
    }
    .table-label {
      font-weight: bold;
      font-size: 10px;
      color: #252525;
    }

    .panoramic-img {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      max-height: 240px;
      max-width: 520px;
    }
  </style>
</head>
<body>
  <div class="cover-page">
    <div class="rj-img-container">
      <img src="http://localhost:3333/files/governo-rj.png" alt="Governo do Rio de Janeiro" height="76" width="284" />
    </div>

    <div class="cover-content">
      <h2 class="cover-label">Cadastro Ambiental</h1>
      <h1 class="cover-company"><%= company.name %></h2>
      <h2 class="cover-label">(n° 01/2020)</h1>

    </div>

    <div class="cover-footer">
      <p style="color: #444"><%= actualDate.formattedDate %></p>
      <p>Elaborado por: Vitor Araujo</p>
      <p>Ano base: <%= actualDate.date.getFullYear() %></p>
    </div>
  </div>


  <div class="summary-page">
    <div class="summary">
      <p class="summary-text">Sumário</p>

      <p class="summary-topic">1. Informações Gerais</p>
      <p class="summary-topic">2. Informações de Funcionamento</p>
      <p class="summary-topic">3. Informações Específicas</p>
      <p class="summary-topic">4. Processo Produtivo</p>
      <p class="summary-topic">5. Aspectos Ambientais</p>
      <p class="summary-subtopic">5.1. Abastecimento Hídrico</p>
      <p class="summary-subtopic">5.2. Emissões Atmosféricas</p>
      <p class="summary-subtopic">5.3. Efluentes Líquidos</p>
      <p class="summary-subtopic">5.4. Resíduos</p>
      <p class="summary-subtopic">5.5. Pressão Sonora</p>
      <p class="summary-subtopic">5.6. Risco Ambiental</p>
      <p class="summary-topic">6. Histórico de Processos</p>
      <p class="summary-topic">7. Anexos</p>
    </div>
  </div>


  <div class="document">
    <p class="document-topic">1. Informações Gerais</p>
    <p class="document-text">
      O Cadastro Ambiental n° <b><%= company.id %></b> foi elaborado em
      <b><%= ("0" + (actualDate.date.getDate())).slice(-2) %>/<%= ("0" + (actualDate.date.getMonth() + 1)).slice(-2) %>/<%= actualDate.date.getFullYear() %></b>
      conforme as informações prestadas pelo representante da empresa
      <b><%= company.name %></b> inscrita no CNPJ <b><%= specific.cnpj %></b>
      do ramo de <b><%= company.typology %></b>. Este documento tem como
      objetivo subsidiar o requerimento de <b><%= specific.document_type %></b>, de modo a
      regularizar a situação legal da empresa junto ao órgão ambiental.
    </p>
    <p class="document-text">
      O empreendimento está localizado no(a) <b><%= address.street %></b>, <b>n° <%= address.number %></b>,
      <b><%= address.complement %></b> - <b><%= address.cep %></b>, no bairo <b><%= address.neighborhood %></b>,
      na cidade <b><%= address.city %></b>, do município <b><%= address.municipality %></b>
    </p>

    <p>
      <span class="document-subtopic">Observação: </span>
      <span class="document-subtext">
        <% if (operatingInfo.rural) { %>
          A empresa se encontra, ou já esteve inserida em zona rural,
          <% if (operatingInfo.registration) { %>
            e possui cadastro no CAR.
          <% } else { %>
            porém não possui cadastro no CAR.
          <% } %>
        <% } else { %>
          A empresa não se encontra, e nunca esteve inserida, em zona rural.
        <% } %>
      </span>
    </p>

    <div class="table-container">
      <strong class="table-label">Tabela 1. Dados de identificação dos representantes legais</strong>
      <table>
        <caption>
          Representantes Legais
        </caption>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>CPF</th>
          <th>Telefone</th>
        </tr>
        <% representatives.forEach(function(representative){ %>
          <tr>
            <td><%= representative.name %></td>
            <td><%= representative.email %></td>
            <td><%= representative.cpf %></td>
            <td><%= representative.phone_number %></td>
          </tr>
        <% }); %>
      </table>
    </div>

    <div class="table-container">
      <strong class="table-label">Tabela 2. Dados de identificação do responsável técnico</strong>
      <table>
        <caption>
          Responsável técnico
        </caption>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Formação</th>
          <th>Conselho/Registro</th>
        </tr>
        <tr>
          <td><%= technicalManager.name %></td>
          <td><%= technicalManager.email %></td>
          <td><%= technicalManager.cpf %></td>
          <td><%= technicalManager.phone_number %></td>
          <td><%= technicalManager.qualification %></td>
          <td><%= technicalManager.licensure_code %></td>
        </tr>
      </table>
    </div>

    <div class="table-container">
      <strong class="table-label">Tabela 3. Dados de identificação da pessoa de contato</strong>
      <table>
        <caption>
          Pessoa de Contato
        </caption>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>CPF</th>
          <th>Telefone</th>
        </tr>
        <tr>
          <td><%= contactManager.name %></td>
          <td><%= contactManager.email %></td>
          <td><%= contactManager.cpf %></td>
          <td><%= contactManager.phone_number %></td>
        </tr>
      </table>
    </div>

    <div class="table-container">
      <strong class="table-label">Tabela 4. Informações de contato</strong>
      <table>
        <caption>
          Informações de contato
        </caption>
        <tr>
          <th>Telefone corporativo</th>
          <td><%= contactInfo.phone_number %></td>
        </tr>
        <tr>
          <th>Horário de atendimento</th>
          <td><%= ("0" + (contactInfo.start_at)).slice(-2) %>h ás <%= ("0" + (contactInfo.end_at)).slice(-2) %>h</td>
        </tr>
      </table>
    </div>


    <p class="document-topic">2. Informações de Funcionamento</p>
    <p class="document-text">
      A empresa requerente teve início de suas atividades em
      <b><%= ("0" + (operatingInfo.date.getDate())).slice(-2) %>/<%= ("0" + (operatingInfo.date.getMonth() + 1)).slice(-2) %>/<%= operatingInfo.date.getFullYear() %></b>
      e desenvolve, atualmente, o regime de trabalho descrito na Tabela 5:
    </p>
    <div class="table-container">
      <strong class="table-label">Tabela 5. Regime de trabalho</strong>
      <table>
        <caption>
          Turnos
        </caption>
        <tr>
          <th>Dias da semana</th>
          <th>Horário</th>
        </tr>
        <% operatingInfo.shifts.forEach(function(shift) { %>
          <tr>
            <td style="text-align: center;"><%= shift.week %></td>
            <td><%= ("0" + (shift.start_at)).slice(-2) %>h %> ás <%= ("0" + (shift.end_at)).slice(-2) %>h %></td>
          </tr>
        <% }); %>
      </table>
    </div>
    <% if (operatingInfo.observation) { %>
      <p>
        <span class="document-subtopic">Observação: </span>
        <span class="document-subtext">
          As atividades secundarias auxiliares e seus respectivos regimes de
          trabalho são descritas da seguinte forma:
          <b><%= operatingInfo.observation %></b>
        </span>
      </p>
    <% } %>


    <p class="document-topic">3. Informações Específicas</p>
    <p class="document-text">
      As atividades contempladas no objeto do presente requirimento são realizadas
      com o auxílio de <b><%= totalEmployees %></b> funcionários, os quais estão
      distribuidos conforme apresentado na Tabela 6:
    </p>
    <div class="table-container">
      <strong class="table-label">Tabela 6. Distribuição dos funcionários</strong>
      <table>
        <caption>
          Funcionários
        </caption>
        <tr>
          <th>Tipo</th>
          <th>Quantidade</th>
        </tr>
        <% employees.forEach(function(employee) { %>
          <tr>
            <td><%= employee.kind %></td>
            <td style="text-align: center;"><%= employee.amount %></td>
          </tr>
        <% }); %>
      </table>
    </div>

    <p class="document-text">
      Cumpre registrar que, o empreendimento dispõe de área total o equivalente a
      <b><%= generalArea.area %></b> m², cuja delimitação poligonal do entorno
      está mostrada na Figura 1, e as relações de valores em m² das respectivas áreas específicas
      constam na Tabela 7:
    </p>

    <div class="table-container">
      <table>
        <caption>
          Área do empreendimento
        </caption>
        <tr>
          <td style="padding: 0px; padding-top: -1px;">
            <img src='<%- generalArea.image.url %>' class="panoramic-img" alt="" />
          </td>
        </tr>
      </table>
      <strong class="table-label">Figura 1. Visão Panorâmica da área total do empreendimento</strong>
    </div>

    <div class="table-container">
      <strong class="table-label">Tabela 7. Relação das áreas específicas do empreendimento</strong>
      <table>
        <caption>
          Áreas específicas
        </caption>
        <tr>
          <th>Tipo</th>
          <th>Área(m²)</th>
        </tr>
        <% specificAreas.forEach(function(specificArea) { %>
          <tr>
            <td><%= specificArea.kind %></td>
            <td style="text-align: center;"><%= specificArea.area %></td>
          </tr>
        <% }); %>
        <tr>
          <th>Total</th>
          <th style="text-align: center;"><%= totalArea %></th>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
